<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    <title>loan default</title>
</head>
<body> 
    <div class="banner"></div>
      <div class="content1">
        <h1>LOAN DEFAULT</h1>
        <b>Welcome to our website where we use advanced technology to predict and detect LOANS DEFAULT FOR  streamlining car loan repayment planning    .<br>
           Our quickly and PREDICTIVE WEBSITE PROVIDE YOU TO CHOOSE<br> accurately VALUE you to the PREVENT YOUR LOSS AND BENIFIT YOUR PROFIT.</b>
        <div>
           
            <button><a href="/submit">PREDICT</a></button>
            
        </div>
</body>
</html>